# Ignore artifacts:
coverage

# Node modules
node_modules

# Logs
logs

# IDE specific files
.vscode
.idea

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next

# Static files
public